.app {
  min-height: 100vh;
}

/* Oooh, really cool seeing variables being used like this! I want to learn this! */
.content {
  --offset: calc(var(--footer-height) + var(--logo-height));
  min-height: calc(100vh - var(--offset));

  display: flex;
  justify-content: center;
  align-items: center;
}
